@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max, $units: px) {
  $k: ($f-max - $f-min) / ($v-max - $v-min);
  $b: $f-min - $k * $v-min;

  $b: $b + $units;

  @return calc(#{$k} * 100vw + #{$b});
}
