@import '../../../scss/mixins.scss';

.email_verification {
  max-width: 350px;
  margin: 0 auto;

  &__response_text {
    min-height: 30px;
    margin-top: 30px;
    text-align: center;
    font-family: var(--font-roboto-mono);
    font-size: calcFluidFontSize(12, 19, 150, 1400);
    font-weight: 500;
  }
}

.back_to_main {
  @include button;
  margin: 30px auto;
}
